body{
	background-color: #ADD8E6;
	padding: 30px;
	font-size: 18px;
}

.foto-perfil{
	border-radius: 100%;
	max-width: 150px;
	border: 1px solid #4682B4;
}

a{
	text-decoration: none;
}

.ulMenu{
	list-style-type: none;
}

#tab{
	background-color: #6495ED;
	padding: 10px;
}

#tab2{
	background-color: #F0E68C;
	border-radius: 12px;
	justify-content: space-between;
	align-items: center;
	margin:10px;	
}

.titulo{
	margin-top:30px;
	margin-bottom: 30px;
	color:#191970;
}

.topo{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.topo input{
	width: 280px;
	padding: 10px;
	border-radius: 12px;
	border:1px solid #191818;
	outline: none;
	font-size: 18px;
	background: Azure;
	color: #4F4F4F;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.topo button{
	width: 45px;
	border-radius: 12px;
	border:1px solid #191818;
	outline: none;
	background-color: LightCyan;
	cursor: pointer;
}


.topo button:hover{
	background-color: #ADD8E6;
}

#listaTarefas{
	pading:0px;
	margin:0px;
}

#listaTarefas li{
	margin: 10px;
	margin-bottom: 20px;
	list-style-position: inside;
	text-align: left;
	position: relative;
	left: -30px;
	border-radius: 12px;
	background: #FFFACD;
}

#listaTarefas2{
	pading: 0;
	margin:0;
}

#listaTarefas2 li{
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	list-style-position: inside;
	text-align: left;
	position: relative;
	left: -30px;
	border-radius: 12px;
	background: #FFFACD;
}

.btnAcao{
	width: 45px;
	border-radius: 12px;
	border:1px solid #191818;
	outline: none;
	background-color: LightCyan;
	cursor: pointer;
}

.btnAcao:hover{
	background-color: #ADD8E6;
}
